<!doctype html>
<html ng-app="StarWarsApp">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Star Wars App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>
<!-- ui-view replaced ng-controller="FilmsCtrl",
angular-ui-router knows to route using the views -->

<body>
    <a href="/#/">Home</a>
    <a href="/#/About">About</a>
    <div ui-view>
    </div>
    <!--  Previous body before we added views/routing
<div>
    <input type="integer" ng-model="movieId">
    <button ng-click="getMovie(movieId)">Get</button>
    <button ng-click="getAll()">All</button>
</div>
<div ng-if="loading">
    Loading...
</div>
<div ng-if="!loading" ng-repeat="film in films">
    <h1>{{film.title}}</h1>
    <p>{{film.opening_crawl}}</p>
</div>
 -->
</body>

</html>
